body {
    margin: 0;
  }

  .profile-background {
    display: block;
    margin: auto;
    background-color: #F5F7FA;
    padding-bottom: 1rem;
  }

  .profile-section {
    display: block;
    margin: auto;
    width: 65%;
    position: relative;
  }

  .header-img {
    padding: 0;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #F5F7FA;
    margin-top: -4rem;
    margin-left: 4rem;
    object-fit: cover;
  }

  .profile-info {
    display: inline-block;
    position: absolute;
    left: 15rem;
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .user-id {
    color: gray;
  }

  .edit-profile-button {
    display: inline-block;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }

  .edit-profile-button button {
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 2rem; /* Matching the target style */
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
    border: none;
    display: inline-flex; /* For icon alignment and inline behavior */
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    
  }

  .feature-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding: 0 15rem;
}

  .feature-card-link {
      text-align: center;
      flex: 1;
      min-width: 300px;
      padding: 30px;
      margin: 15px;
      background-color: var(--white);
      border-radius: var(--border-radius-lg);
      box-shadow: var(--shadow);
      transition: transform 0.3s;
      cursor: pointer;
      box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.08);
  }

  .feature-card-link:hover {
      transform: translateY(-10px);
  }

  .feature-card-link i {
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
  }

  .delete-button, 
  .change-password-button {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .delete-button button,
  .change-password-button button {
    width: 15%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
  }

  .delete-button button:hover,
  .change-password-button button:hover,
  .edit-profile-button button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }